__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*
*.so
.env
.venv
env/
venv/
env_docker_assignment_2/
env_docker_assignment_3/
conda-meta/
*.conda
*.env
mlruns/
mlartifacts/
data/
outputs/
*.npy
*.pt
*.pth
*.ckpt